@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
  scroll-behavior: smooth;
}
body{
  color: #111827;
  font-family: 'DM Sans', sans-serif;;
  overflow-x: hidden!important;
}
p{
  color: #ff610b;
}
a{
  color: #111827;
}
.nav-link{
  padding: 0.3rem 1rem!important;
  font-weight: 500!important;
}
.nav-link.active{
  border-bottom:2px solid #ff610b;
}
.subtitle{
  color: #ff610b;
}
.fa-primary{
  color: #f9d71c!important;
}
.fa-red{
  color: greenyellow;
}
.logo{
 max-width: 50%!important;
}
.primary-bg{
  background-color: #ff9901;
}
.primary-gra-bg{
  background-color: #ff610b;
}
.tx-rate{
  color: #111827;
  font-weight: 600;
}

.btn-start{
  background-color: #111827;
  font-weight: 600;
  color: #fff;
}
.w-100{
  width: 100%;
}
.btn-primary{
  background: linear-gradient(to right, rgba(254,150,0,1),rgba(255,129,2,1), rgba(255,100,9,1))!important;
  border: #ff610b;
  color: #fff!important;
}
.btn-outline-primary{
  border: 1px solid rgba(255,100,9,1)!important;
  color: rgba(255,100,9,1)!important;
}
.btn-outline-primary:hover{
  background: linear-gradient(to right, rgba(254,150,0,1),rgba(255,129,2,1), rgba(255,100,9,1))!important;
  border: #ff610b;
  color: #fff!important;
}
.btn-primary:hover{
  border: 1px solid rgba(255,100,9,1)!important;
  color: rgba(255,100,9,1)!important;
  background: transparent!important;
}

.tx-primary{
  color: rgba(255,100,9,1)!important;
}
#bg-primary{
  background-image: linear-gradient(to right, rgba(254,150,0,1),rgba(255,129,2,1), rgba(255,100,9,1));
  color: #fff;
}
a{
  text-decoration: none;
}
.tx-72{
  font-size: 72px;
}
.tx-50{
  font-size: 3rem!important;
}
.tx-36{
  font-size: 2.7rem!important;
}
.tx-gray, .card-text{
  color: #4B5563;
}
.tx-14{
  font-size: 14px!important;
}
.tx-20{
  font-size: 20px;
}
.tx-16{
  font-size: 16px!important;
}
.tx-18{
  font-size: 18px;
}
.form-control.wd-25{
  background-color: transparent!important;
}
.boxx{
  font-size: 11px!important;
  background-color: transparent!important;
  background-image: url("../img/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 14px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  line-height: 1.0!important;
  padding: .5rem 1rem;
  border-radius: .3rem;


}
.box{
  padding: 1.2rem 2.25rem 1.2rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #111827;
    background-image: url("../img/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 24px 24px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
  -moz-appearance: none;
}
.box option, .boxx option{
  color: black;
}
::placeholder { 
  color: #ced4da!important;
  opacity: 1;
}
.card-height{
  height: 100%;
}
.exchange{
  background-image: url('../img/exchange.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
}
.bg-pay{
  background-image: url('../img/pay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh; 
}
.bg-gray{
  background-color: #f1f1f1;
}
.feature-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0px 5px 89.61px 53.39px rgb(23 29 113 / 5%);
    background: rgba(255, 255, 255, 0.205);
    margin-top: 30px;
    padding: 30px 30px 30px;
    position: relative;
}
.feature-box .tumb {
  min-width: 26%;
}
.feature-box .text-box {
  margin-left: 30px;
}
.text-box p.text {
  color: #fff;
  padding: 22px 0px 0 0;
}
 .photo .use-img {
   margin-top: 100px;
  position: absolute;
  right: 0%;
  width: 50%;
  border-radius: 25px;
}
.img-height{
  height: 125px;
}
.card-body.px-10{
  padding:1rem 10px!important;
}
.faq {
  position: relative;
}
@media (max-width: 1399px){
.faq .sape .faq-bg {
    right: -6%;
    top: 68%;
}
}
@media (min-width: 1400px) { 
  .payment-img{
    min-height: 510px!important;
    margin-top: 105px!important;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    vertical-align: middle;
  }
  .welcome-div{
    transform: translateY(20%)!important;
    /* top: 50%; */
  }
  
}
@media (max-width: 1399px){
.faq .sape .faq-bg {
    right: -14%;
}
}
@media (max-width: 1599px){
.faq .sape .faq-bg {
    width: 26%;
}
}
@media (max-width: 1899px){
.faq .sape .faq-bg {
    width: 23%;
    top: 61%;
}
}
.faq .sape .faq-bg {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0%;
    z-index: -1;
    width: 37%;
}

img, svg {
    vertical-align: middle;
}
.faq .content {
  margin-bottom: 56px;
}

.accordion-item{
  border-width: 0!important;
  border: none!important;
  border: 0!important;
}
.accordion-button:not(.collapsed){
  color: #ff610b;
  background: #ff600b3d;
}

.faq .question .question-man {
  position: absolute;
  z-index: -1;
  right: 0%;
  bottom: 0%;
  width: 38%;
  animation: dan-bam 3s linear infinite;
}
.footer,.bg-pri{
  background-color: #111827;
  color: #fff;
}
.payment-img{
  min-height: 510px!important;
  margin-top: 175px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  vertical-align: middle;
}

.pad-pay{
  padding: 0 30px;
}
.icon-img{
  max-width: 120px;
  height: 120px;
}
.exchange-img{
  /* margin-top: 50px; */
  width: 540px;
  height: 420px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .text-box p.text {
    color: #fff;
    padding: 0px 0px 0 0;
    margin-bottom: 0px;
  }
  .icon-img{
    max-width: 40%!important;
    height: 40%;
    padding-top: 20px;
  }
  .ms-4 h3{
    font-size: 18px!important;
  }
  .bg-pay, .exchange{
    min-height: 40vh!important;
  }
  .welcome-div{
    transform: translateY(0%);
  }
  .payment-img{
    min-height: 100%!important;
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  
  }
  .exchange-img{
    /* margin-top: 50px; */
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    
  }.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tx-72{
    font-size: 42px;
  }
  .mob-pad{
    padding: 5px 15px!important;
  }
  .row{
    overflow-x: hidden!important;
  }
  .full-width{
    width: 100%!important;
  }
  .tx-50{
    font-size: 32px!important;
  }
  .timeline {
    list-style: none;
    /* padding: 20px 0 20px; */
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0;
  }
  .timeline:before {
    content: "";
    bottom: 0;
    top: 0;
    /* left: 50%; */
    position: absolute;
    
    background-color: #eee;
    width: 3px;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  
  /* Timeline Token */
  .timeline-token {
    color: white;
    background-color: #111827;
    position: absolute;
    /* left: 50%; */
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    line-height: 16px;
    font-size: 0.6em;
    text-align: center;
    
    margin-left: -7px;
    border-radius: 50%;
  }
  
  /* Timeline Panel */
  .timeline-panel {
    /* float: left; */
    /* width: 43%; */
    /* position: relative; */
    padding: 0px 20px;
    margin-top: -5px;
    
  }
  .desk-pad{
    padding-top: 10px!important;
  }
  h1.tx-36{
    font-size: 2rem!important;
  }
 }

 /* login  */
 .login-bg{
  background: url('../img/welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.login-side{
  height: 85vh;
}
.vert-container{
  position: relative;
}
.vert-center{
  margin: 0;
  position: absolute;
  top: 50%;
  /* -ms-transform: translateY(-50%); */
  transform: translateY(30%);
}
.tx-un{
  text-decoration: underline!important;
}

.welcome-div{
  transform: translateY(5%);
  /* top: 50%; */
}
.welcome-reg-div{
  transform: translateY(5%);
  /* top: 50%; */
}

.animate__animated{
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.cover{
  height: 100vh;
}
.close-btn{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  opacity: 1;
  font-size: 2rem;
  padding-left:3.2px ;
  float: right;
}
.close-btn:hover{
  color: #8b0707;
}

.parallax {
  /* The image used */
  background-image: url("../img/servicee.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxx {
  /* The image used */
  background-image: url("../img/serviceee.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxxx {
  /* The image used */
  background-image: url("../img/serviceeee.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-counter{
  display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page-counter .icon{
  position: relative;
  background: linear-gradient(to right, rgba(254,150,0,1),rgba(255,129,2,1), rgba(255,100,9,1))!important;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.page-counter .icon .pic-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-counter .counter-item {
  color: #292669;
  margin-left: 30px;
}
.navbar-toggler{
  background: #ff9901;
  border: 1px solid #ff610b;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid rgba(255,100,9,1);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(to right, rgba(254,150,0,1),rgba(255,129,2,1), rgba(255,100,9,1))!important;;
}

.testimonials .swiper-slide {
  opacity: .3;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  font-size: 14px;
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #111827;
}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: linear-gradient(to right, rgba(254,150,0,1),rgba(255,129,2,1), rgba(255,100,9,1))!important;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-newsletter form input[type="submit"]:hover {
  background: #5969f3;
}

.footer .footer-top {
  background: white url(../img/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #111827;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: #111827;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #111827;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #111827;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #111827;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #111827;
}
@media (min-width: 768px){
  .timeline {
      /* width: 750px; */
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
.timeline:before {
  content: "";
  bottom: 0;
  top: 0;
  /* left: 50%; */
  position: absolute;
  
  background-color: #eee;
  width: 3px;
  margin-left: -1.5px;
}

.timeline > li {
  margin-top: 15px;
  margin-bottom: 5px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}

/* Timeline Token */
.timeline-token {
  color: white;
  background-color: #111827;
  position: absolute;
  /* left: 50%; */
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 0.65em;
  text-align: center;
  
  margin-left: -8px;
  border-radius: 50%;
}

/* Timeline Panel */
.timeline-panel {
  /* float: left; */
  /* width: 43%; */
  /* position: relative; */
  padding: 0px 20px;
  margin-top: -5px;
  
}


/* RESPONSIVE */

@media(max-width: 767px) {
  .timeline:before {
    left: 10px;
  }
  
  .timeline-panel {
    /* width: calc(100% - 90px); */
    padding-left: 10px!important;
    padding-right: 0px!important;
    float: left;
    margin-top: 5px;
  }
  .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -30px;
    right: auto;
  }
  .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-token {
    left: -13px;
    margin-left: 0;
    top: 8px;
  } 
  .timeline{
    padding-right: 0!important;
  }
}

.tw-instruction {
  width: 100%;
  padding: 24px 20px;
  border-width: 0!important;
  border-radius: 3px;
  box-shadow: 0 0 30px 0 rgb(226 230 232 / 30%);
  background-size: 100%;
  background-color: #fff;
  height: 100%;

}
.tw-instruction h4{
  font-weight: 700;
  font-size: 1.2rem;
}
.social-buttons .btn-facebook{
  background: #3b5998;
}
.social-buttons a {
  color: #fff;
}
.social-buttons .btn-twitter {
  background: #00aced;
}
.social-buttons .btn-instagram {
  background:rgb(193, 53, 132);
}
.btn-block{
  width: 100%;
}
.loginOr {
  position: relative;
  font-size: 1.3em;
  color: #aaa;
  margin: 20px 20px;
  /* padding-top: 0px; */
  /* padding-bottom: 1em; */
}

.spanOr:before {
  content: "";
  border: 1px solid #aaa;
  position: absolute;
  width: 50%;
  top: 17px;
  left: -20px;
}

.spanOr:after {
  content: "";
  border: 1px solid #aaa;
  width: 50%;
  position: absolute;
  top: 17px;
  right: -20px;
}
.tx-left{
  text-align: left;
}
.form-group-lg{
  box-shadow: 0 0 7px 0 #bac4cf;
  border-radius: 8px;
  padding: 10px;
}
.form-group-lg .input-group-lg>input.form-control, .form-group-lg .input-group-lg>input.input-group-addon, .form-group-lg input.input-lg {
  height: auto;
  min-height: 50px;
  max-height: 50px;

}
.input-group .form-control:first-child, .input-group .input-group-addon:first-child, .input-group .input-group-btn:first-child {
  border-left-width: 1px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.input-group .form-control:not(:last-child) {
  border-right: 0;
}
.input-group .form-control, .input-group .input-group-addon {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}
.form-control, output {
  display: block;
  color: #ff610b;
}
.input-group .form-control{
  border: none;
}
.rounded-15{
  border-radius: 15px;
}
textarea:focus, input:focus{
  outline: none!important;
}
/* #myInput {
  box-sizing: border-box;
  background-image: url('../img/searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 12px;
  padding: 14px 15px 12px 15px;
  border: none;
  border-bottom: 1px solid #ddd;
} */

.btn-group .dropdown-menu.dropdown-menu-lg, .dropdown-menu.dropdown-menu-lg {
  width: 420px;
}
.open>.dropdown-menu {
  transition: opacity .2s cubic-bezier(.6,.2,.1,1),transform .2s cubic-bezier(.6,.2,.1,1),visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
  transform: none;
}
.btn-group .dropdown-menu, .dropdown-menu {
  max-width: calc(100vw - 32px);
}
.btn-group .dropdown-menu {
  max-height: 90vh;
  overflow: auto;
}
.btn-block .dropdown-menu {
  width: 100%;
}
.dropdown-menu--open {
  z-index: 1051!important;
}
.dropdown-menu-right, .dropdown-menu-xs-right {
  left: auto;
  right: 0;
}
.dropdown-header {
  display: block;
  padding: 8px 16px;
  font-size: .875rem;
  line-height: 24px;
  color: #5d7079;
  white-space: nowrap;
}
.dropdown-menu>li>a {
  display: block;
  padding: 13px 16px 11px;
  clear: both;
  font-weight: 400;
  border-radius: 3px;
  line-height: 1.5;
}
.input-group .form-control:first-child, .input-group .input-group-addon:first-child, .input-group .input-group-btn:first-child {
  border-left-width: 1px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.dropdown-menu .input-group-addon {
  border: 0;
  color: #a8aaac;
}
.input-group .form-control, .input-group .input-group-addon {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}
.input-group-addon {
  color: #829ca9;
  transition: border-color .15s ease-in-out;
}
.input-group-addon {
  padding: 12px 16px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #a8aaac;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d3d5d8;
}
.input-group-addon{
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
.divider {
  border-bottom: 1px solid #f2f5f7;
}
.btnn{
  border: 2px solid transparent;
  border-radius: 0;
}
.select-width{
  width: 300px!important;
}

.select-hover:hover{
  background:rgba(254,150,0,0.6)!important;
  color: #fff!important;
}
#bank, .hide-div{
  display: none;
}

.dropdown-toggle.btn-blog::after{
  margin-left: auto!important;
}
.desk-pad{
  padding-top: 150px;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: linear-gradient(to bottom, rgba(254,150,0,1),rgba(255,129,2,1), rgba(255,100,9,1));
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background: rgba(255,100,9,1);
}